#navbar {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: rgb(79, 101, 183);
}
#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 800px;
}
#navbar li {
  float: left;
}
#navbar li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px;
  text-decoration: none;
  background-color: rgb(79, 101, 183);
  text-transform: uppercase;
}
#navbar li a:hover {
  background-color: rgb(17, 60, 216);
}

#active {
  color: rgb(202, 194, 74);
}
